*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.hero{
   background-image: url('../images/cow\ .jpg');
   background-position:center; 
   background-size:cover;
   height: 100vh;
   clip-path: polygon(50% 0%, 100% 0, 100% 72%, 50% 100%, 50% 100%, 0 72%, 0 0);


   
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    word-spacing: 5px;
    letter-spacing: 0px;
}
#cow-type{
    width: 80%; 
    margin: 60px auto;
    margin: 60px auto;
    background: linear-gradient(45deg,pink , rgba(0, 0, 255, 0.459));
    padding: 50px;
}
.article{
    width: 80%;
    /* margin-left: auto ;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    border-width: 15px;
    
    
    background:linear-gradient(rgba(255, 255, 0, 0.473),rgba(255, 0, 0, 0.336),rgba(0, 128, 0, 0.315)) ;
    padding: 50px;
}
.article h2, #cow-type h2  {
    text-align: center;
    font-size: 48px;
    border-style: solid ;
    border-color: yellow;
    border-top:0;
    border-left: 0;
    border-right: 0;
    padding: 30px;
    margin: 30px;
}
.article p{
    font-size: 15px;
    line-height: 2em;
}
.article p .cow{
    font-size: 2em;
}
.cow-images{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.cow-images div{
    min-height: 300px;
}
.cow-images img{
    width: 100%;

}